.contentItemUserMsgTime {
  position: absolute;
  right: 16px;
  align-self: center;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: -0.08px;
  color: #9D9FA3;
}

/* .contentItemUserMsgTime:hover{
  color: white;
} */
