body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  padding: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../src/assets/fonts/SFProDisplay-Bold.woff") format("woff"),
    url("../src/assets/fonts/SFProDisplay-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Text";
  src: url("../src/assets/fonts/SFProText-Semibold.woff") format("woff"),
    url("../src/assets/fonts/SFProText-Semibold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "SF Pro Text Regular";
  src: url("../src/assets/fonts/SFProText-Regular.woff") format("woff"),
    url("../src/assets/fonts/SFProText-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
